:root {
  --primary: #b6895b;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #755739;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  /* font-style: italic; */
  color: #fff;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  /* Agar bisa turun ke bawah kalo dikasih margin */
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0  0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}

/* Navbar Extra */
.navbar-extra {
  display: flex;
  align-items: center;
}

/* Switch language button should be at the far right */
.language-selector {
  margin-left: auto; /* Memastikan tombol switch berada di pojok kanan */
  position: relative;
  display: inline-block;
}

.btn-lang-selector {
  background-color: var(--bg);
  border: 1px solid var(--primary);
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: #fff;
}

.btn-lang-selector:hover {
  color: var(--primary);
  background-color: rgba(255, 255, 255, 0.1);
}

/* Dropdown for language options */
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--bg);
  min-width: 160px;
  border: 1px solid var(--primary);
  z-index: 1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.dropdown a {
  color: #fff;
  padding: 10px 15px;
  display: block;
  transition: background-color 0.3s;
  font-size: 1.2rem;
}

.dropdown a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary);
}

.dropdown.active {
  display: block;
}
